
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Film Recommendations</title>

    <style>
    body {
      background-color: linen;
    }

    h1 {
      color: maroon;
      margin-left: 40px;
    }
    </style>
  </head>
  <body style="text-align:center;">
    <div>
      <form>
        <label for="recommendation">Movie 1</label>
        <input type="text" id="recommended" name="recommended">
      </form>
      <button onclick="toRedirect()" id="connect"> EnterRoom </button>
    </div>
    <div>
      <p style="color:blue;text-align:center;">This is the list of all Movies</p>
      {% if listOfMovies %}
          <ul style="text-align:center;">
          {% for movie in listOfMovies %}
          <li>
              <a href="/results/{{ movie.original_title }}/">
                  {{ movie.original_title }}
              </a>
              <p>
                Index:
                {{movie.index}}
                Release Date:
                  {{ movie.release_date}}
              </p>
              <p>
                Score:
                  {{ movie.score}}
                Language:
                  {{movie.original_language}}
              </p>
          </li>
          {% endfor %}
          </ul>
      {% else %}
          <p>No movies are available.</p>
      {% endif %}
    </div>
    <script type="text/javascript">
      function toRedirect(){
      // get the user input
        var user_value = document.getElementById('recommended').value ;
        // check the validation
        if(user_value!=''){
          // redirect
          location.href='results/' + user_value;
        //  location.href='results/' + user_value "+" + user_value2 + "+" + user_value3;
        } else{
          // alert error message
          alert("validation error");
        }
      }
    </script>
  </body>
</html>
